[color]
  ui = auto
[alias]
  st = status
  di = diff
  ll = log --graph --decorate --date=short
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[diff]
  algorithm = histogram
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight
[push]
	default = matching
